<p>Your account has been successfully created with:<br /></p>

<%- model_class = @user.class -%>

<dl class="dl-horizontal">
  <dt><strong>Email ID:</strong></dt>
  <dd><%= @user.email %></dd>
</dl>

Click Here to enter
<%= link_to "Home", books_path %>
