<h1>You may like :</h1>

<table>
<tr>
	<td><b>ISBN</b></td>
	<td>  </td>
	<td><b>Title</b></td>
</tr>
<% @liked.each do |book|%>
<tr>
	<td><%= book.isbn %></td>
	<td>  </td>
	<td><%= book.title %></td>
<%end%>
</table>

<p>
  <b>Number Of Recomomndet books : </b>
  <%= @liked.length %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              books_path, :class => 'btn'  %>
</div>

